/* Global styling rules */

:root {
    --primary-bg: #f8f1f1;
    --nav-bg: #a3d2ca;
    --special-txt: #eb5e0b;
    --txt-color: #459996;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg);
    color: var(--txt-color);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}
 
p {
    font-size: 1.8rem;
    max-width: 120ch;
    line-height: 2.5rem;
}
.nav-items {
    width: 100%;
}

.nav-items li {
    font-family: 'Playfair Display', sans-serif;
    margin-top: 0.3em;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    background: linear-gradient(to left, var(--primary-bg) 0%, var(--nav-bg) 0%);
    padding: 0.6em 1em 0.6em 1em;
    transition: color 1s ease-in-out, background 0.3s ease;
}

.active-nav-item {
    background: var(--primary-bg) !important;
}

.inactive-nav-item {
    animation: 0.3s linear reverse sweep-to-left;
}

.nav-items li:hover {
    animation: 0.3s linear 1 sweep-to-left;
    background: var(--primary-bg);
}

.nav-items a {
    display: inline-block;
    text-decoration: none;
    color: var(--txt-color);
    transition: transform 1s ease-in-out, color 0.1s ease-in-out;
}

.nav-items a:hover {
    transform: scale(1.25);
    color: var(--special-txt);
}

.active-nav-anchor {
    color: var(--special-txt) !important;
    transform: scale(1.25);
}

.personal-img {
    height: 15rem;
    width: 15rem;
    border: 0.6rem solid var(--txt-color);
    border-radius: 50%;
    margin-bottom: 2em;
}

li {
    list-style: none;
    text-decoration: none;
}

.social-icons {
    margin-top: 3em;
}

.social-icon {
    display: inline-block;
    width: 4rem !important;
    height: 4rem !important;
    margin-right: 1em;
}

.icon-svg {
    fill: var(--txt-color);
    transition: transform 0.1s ease-in-out, fill 0.1s ease-in-out;
}

.icon-svg:hover {
    transform: scale(1.2);
    fill: var(--special-txt);
}

.resume-itm {
    min-height: 100vh;
    width: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1.6rem;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-color: var(--nav-bg);
}

#about a {
    color: var(--special-txt);
}

#about h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 7.2rem;
    font-weight: 800;
    text-transform: uppercase;
}

#about p {
    margin-bottom: 1em;
}

#about span {
    color: var(--special-txt);
}

.first-name {
    display: inline-block;
    animation: 1.9s ease-in-out 1 drop-from-top, 1s ease 1 2.55s slide-left;
}

.last-name {
    display: inline-block;
    color: var(--special-txt);
    animation: 7s ease-in-out 1 slide-from-right;
}

.subheading {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 550;
    margin-bottom: 4em;
    animation: 1s ease-in-out 1 1.22s drop-down;
}

.mail-anch {
    display: inline-block;
    text-decoration: none;
    color: var(--special-txt);
    transition: text-decoration 1s ease, transform 1s ease-in-out;
}

.mail-anch:hover {
    text-decoration: underline;
    animation: 1s ease-in-out 1 wobble-horizontal;
}

.story-anch {
    display: inline-block;
    text-decoration: none;
    animation: 3s ease-in-out infinite wobble-vertical;
}


/* Desktop-specific styling rules */

@media screen and (min-width: 851px) {
    main {
        display: flex;
        flex-direction: row;
    }

    .nav-menu {
        display: contents;
    }

    .toggle-nav {
        display: none;
    }

    .side-nav {
        display: flex;
        z-index: 99;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: sticky;
        top: 0px;
        left: 0px;
        height: 100vh;
        min-width: 260px;
        background-color: var(--nav-bg);
    }

    .img-container {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .resume-itm {
        padding-right: 40rem;
    }
}

/* Mobile-specific styling rules */

@media only screen and (max-width: 850px) {
    main {
        display: block;
    }

    .side-nav {
        display: block;
        background-color: var(--nav-bg);
        z-index: 99;
    }

    .toggle-nav {
        z-index: 99;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        background-color: var(--nav-bg);
    }

    .nav-menu {
        position: fixed;
        z-index: 99;
        display: flex;
        flex-direction: column;
        background-color: var(--nav-bg);
        width: 100%;
        justify-content: center;
        align-content: center;
        text-align: center;
        display: none;
    }

    .main-section {
        position: absolute;
    }

    .img-container {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 999;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
    }

    .active-img {
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        height: auto;
        width: 4rem;
        border-radius: 50%;
        box-shadow: 0 0.1rem 1.5rem var(--nav-bg);
    }

    .animated-img {
        animation: 3s ease-in-out scale-to-center, 3s ease-in-out 5s reverse scale-to-center;
        animation-fill-mode: forwards;
    }

    .personal-img {
        display: none;
    }

    .img-icon {
        height: 5rem;
        width: 5rem;
        border: 0.3rem solid var(--txt-color);
        border-radius: 50%;
        margin: 0.5em;
        transition: transform 0.5s ease-in-out;
    }

    .img-icon:hover {
        transform: scale(1.2);
    }

    .mobile-nav-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .resume-itm {
        padding: 1rem 2rem 1rem 2rem;
    }

    .title-name {
        align-self: center;
        margin-left: 0.5em;
        font-weight: 300;
        font-size: 1.8rem;
    }

    .navbar-toggler {
        padding: 0.1rem 3rem 0.1rem 3rem;
        text-align: center;
        background-color: var(--nav-bg);
        border: none;
        outline: var(--txt-color);
        font-size: 3.2rem;
        color: var(--txt-color);
        transition: background-color 0.1s ease, color 0.1s ease;
    }

    .navbar-toggler:hover {
        background-color: var(--txt-color);
        color: var(--nav-bg);
    }

    .social-icons {
        margin-top: 1em;
    }
    
    .social-icon {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.5em;
    }

    #about h1 {
        margin-top: 5.5rem;
        font-size: 7.2rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .subheading {
        margin-top: 2rem;
        font-size: 1.6rem;
    }


    .first-name {
        display: inline-block;
        animation: 1.9s ease-in-out 1 drop-from-top
    }

    .last-name {
        display: inline-block;
        color: var(--special-txt);
        animation: 7s ease-in-out 1 slide-from-right;
    }

}

@media screen and (max-width: 350px) {
    #about h1 {
        font-size: 5.8rem;
    }

    .resume-itm {
        padding: 1rem;
    }

    .main-section {
        position: absolute;
    }

    .img-icon {
        height: 4rem;
        width: 4rem;
        border: 0.3rem solid var(--txt-color);
        border-radius: 50%;
        margin: 0.5em;
    }

    .nav-menu {
        z-index: 99;
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: var(--nav-bg);
        width: 100%;
        justify-content: center;
        align-content: center;
        text-align: center;
        display: none;
    }

}

@media screen and (min-width: 750px) {

    .first-name {
        display: inline-block;
        animation: 1.9s ease-in-out 1 drop-from-top, 1s ease 1 2.55s slide-left;
    }
    
    .last-name {
        display: inline-block;
        color: var(--special-txt);
        animation: 7s ease-in-out 1 slide-from-right;
    }
    
}