:root {
    --primary-bg: #f8f1f1;
    --nav-bg: #a3d2ca;
    --special-txt: #eb5e0b;
    --txt-color: #459996;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg);
    color: var(--txt-color);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 260px;
    background-color: var(--nav-bg);
}


.main-section {
    flex: auto;
}

.nav-items li {
    margin: 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.social-icons {
    margin-top: 3rem;
}

.social-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
}

.personal-img {
    height: 150px;
    width: 150px;
    border: 0.6rem solid var(--txt-color);
    border-radius: 50%;
    margin-bottom: 2rem;
}

.resume-itm {
    height: 100vh;
    width: 100%;
    padding: 4rem 3rem 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    border-bottom-style: solid;
    border-bottom-width: 100%;
    border-color: var(--nav-bg);
}

#about a {
    color: var(--special-txt);
}

#about h1 {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.first-name {
    display: inline-block;
    animation: 2s ease-in-out 1 drop-from-top, 1s ease-in-out 1 2.15s slide-left;
}

.last-name {
    display: inline-block;
    color: var(--special-txt);
    animation: 5s ease-in-out 1 slide-from-right;
}

.subheading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 550;
    margin-bottom: 3rem;
    animation: 1s ease-in-out 1 1.3s drop-down;
}

.mail-anch {
    display: inline-block;
    text-decoration: none;
    color: var(--special-txt);
    transition: text-decoration 1s ease, transform 1s ease-in-out;
}

.mail-anch:hover {
    text-decoration: underline;
    animation: 1s ease-in-out 1 wobble-horizontal;
}

.story-anch {
    display: inline-block;
    text-decoration: none;
    transition: transform 1s ease-in-out;
}

.story-anch:hover {
    animation: 1s ease-in-out 1 wobble-vertical;
}

.nav-items a{
    text-decoration: none;
    color: var(--txt-color);
}

li {
    list-style: none;
    text-decoration: none;
}
